<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Research Papers</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Optimal Transport-based Identity Matching for Identity-invariant Facial Expression Recognition\\ NeurIPS 2022.</p>
      </div>
      <div class="col-lg-4">
        <p>Optimal Transport-based Identity Matching for Identity-invariant Facial Expression Recognition\\ NeurIPS 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://arxiv.org/pdf/2209.12172.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
