<!-- Papers Section -->
<section class="success" id="papers">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>papers</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Emotion-aware Multi-view Contrastive Learning for Facial Emotion Recognition, ECCV 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.ecva.net/papers/eccv_2022/papers_ECCV/papers/136730181.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>1st Author, Optimal Transport-based Identity Matching for Identity-invariant Facial Expression Recognition, NeurIPS 2022 (<b>Spotlight</b>).</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://arxiv.org/pdf/2209.12172.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>2nd Author, Style-Guided and Disentangled Representation for Robust Image-to-Image Translation, AAAI 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ojs.aaai.org/index.php/AAAI/article/view/19924" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <p>2nd Author, Fine Gaze Redirection Learning with Gaze Hardness-aware Transformation, WACV 2023.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://openaccess.thecvf.com/content/WACV2023/papers/Park_Fine_Gaze_Redirection_Learning_With_Gaze_Hardness-Aware_Transformation_WACV_2023_paper.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
