<!-- Papers Section -->
<section class="success" id="papers">
  <div class="container">

    <!-- Conference -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Conference Papers</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Emotion-aware Multi-view Contrastive Learning for Facial Emotion Recognition, ECCV 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.ecva.net/papers/eccv_2022/papers_ECCV/papers/136730181.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>1st Author, Optimal Transport-based Identity Matching for Identity-invariant Facial Expression Recognition, NeurIPS 2022 (<b>Spotlight</b>).</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://arxiv.org/pdf/2209.12172.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style='line-height:20px'>2nd Author, Style-Guided and Disentangled Representation for Robust Image-to-Image Translation, AAAI 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ojs.aaai.org/index.php/AAAI/article/view/19924" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <p style='line-height:20px'>2nd Author, Fine Gaze Redirection Learning with Gaze Hardness-aware Transformation, WACV 2023.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://openaccess.thecvf.com/content/WACV2023/papers/Park_Fine_Gaze_Redirection_Learning_With_Gaze_Hardness-Aware_Transformation_WACV_2023_paper.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style='line-height:20px'>2nd Author, RPFNET: Complementary Feature Fusion for Hand Gesture Recognition, ICIP 2022.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/document/9897351" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <p style='line-height:20px'>1st Author, Hidden Emotion Detection using Multi‐modal Signals, CHI 2021.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://dl.acm.org/doi/pdf/10.1145/3411763.3451721" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style='line-height:20px'>1st Author, Contrastive Adversarial Learning for Person Independent Facial Emotion Recognition, AAAI 2021.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ojs.aaai.org/index.php/AAAI/article/view/16743" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <p style='line-height:20px'>3rd Author, Visual scene‐aware hybrid neural network architecture for video‐based facial expression recognition, FG 2019.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/abstract/document/8756551" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style='line-height:20px'>2nd Author, Recognizing fine facial micro‐expressions using two‐dimensional landmark feature, ICIP 2018.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/document/8451359" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <p style='line-height:20px'>2nd Author, Self‐supervised knowledge distillation using singular value decomposition ECCV 2018.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://openaccess.thecvf.com/content_ECCV_2018/papers/SEUNG_HYUN_LEE_Self-supervised_Knowledge_Distillation_ECCV_2018_paper.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style='line-height:20px'>1st Author, Multi‐modal emotion recognition using semi‐supervised learning and multiple neural networks in the wild, ICMI 2017.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://dl.acm.org/doi/10.1145/3136755.3143005" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <!-- Workshop -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Workshop Contributions</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Metric‐based regularization and temporal ensemble for multi‐task learning using heterogeneous unsupervised tasks, ICCVW 2019.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://openaccess.thecvf.com/content_ICCVW_2019/papers/CEFRL/Song_Metric-Based_Regularization_and_Temporal_Ensemble_for_Multi-Task_Learning_using_Heterogeneous_ICCVW_2019_paper.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>1st Author, MUNet: macro unit‐based convolutional neural network for mobile devices, CVPRW 2018.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://openaccess.thecvf.com/content_cvpr_2018_workshops/papers/w33/Kim_MUNet_Macro_Unit-Based_CVPR_2018_paper.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <!-- Journal -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Journal Articles</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>2nd Author, Synthesized Rain images for Deraining Algorithms, Neurocomputing 2022.</p>
        <p>Impact factor(IF): 5.779</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.sciencedirect.com/science/article/pii/S0925231222004040" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>1st Author, Probabilistic Principal Geodesic Deep Metric Learning, IEEE Access 2022.</p>
          <p>Impact factor(IF): 3.476</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9681811" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Deep Metric Learning with Manifold Class Variability Analysis, IEEE Transactions of Multimedia 2021.</p>
        <p>Impact factor(IF): 8.182</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9507352" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>1st Author, Metric‐based Attention Feature Learning for Video Action Recognition, IEEE Access 2021.</p>
          <p>Impact factor(IF): 3.476</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9373378" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Virtual sample‐based deep metric learning using discriminant analysis, Pattern Recognition 2021.</p>
        <p>Impact factor(IF): 8.518</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0031320320304465" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>2nd Author, Visual Scene‐Aware Hybrid and Multi‐Modal Feature Aggregation for Facial Expression Recognition, Sensors 2020.</p>
          <p>Impact factor(IF): 3.847</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.mdpi.com/1424-8220/20/18/5184" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Real‐time purchase behavior recognition system based on deep learning‐based object detection and tracking for an unmanned product cabinet, Expert Systems with Applications 2020.</p>
        <p>Impact factor(IF): 8.665</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0957417419307808" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <p>2nd Author, Action Recognition Using Deep 3D CNNs with Sequential Feature Aggregation and Attention, Electronics 2020.</p>
          <p>Impact factor(IF): 2.690</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.mdpi.com/2079-9292/9/1/147/htm" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>1st Author, Macro unit‐based convolutional neural network for very light‐weight deep learning, Image and Vision Computing 2019.</p>
        <p>Impact factor(IF): 3.860</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://www.sciencedirect.com/science/article/abs/pii/S0957417419307808" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

    <!-- Dissertation -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>PhD Thesis</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Daeha Kim, Disentangled Expression and Identity Feature Representations for Identity‐invariant Facial Expression Recognition, Doctoral Thesis 2023.</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://drive.google.com/file/d/1rzof8YOtpF-bcYWiabzihGQ7Jo17TDCI/view?usp=sharing" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> View Paper
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
