<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic"/>
        <div class="intro-text">
            <span class="name"; style = "font-size:3.0em">Daeha Kim {{ site.skills }}</span>
          <hr class="star-light" />
          <span class="skills"; style = "font-size:2.0em">Research Interest</span>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <p align="left"; style = "font-size:2.0em"> The ultimate goal of my research is to apply the theory of emotion understanding to machines. As a result, my research seeks to establish an identity‐invariant facial expression recognition, universal emotion embedding, and facial expression manipulation.</p>
        </div>
    </div>
  </div>
</header>
