<!-- Research Interest -->
<header>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p align="left"; style = "font-size:1.0em"> Human-Computer Interaction - Facial expression, Gaze, Body action, Hand gesture, and Multi‐modal emotions</p>
            <p align="left"; style = "font-size:1.0em"> Image Generation - Image‐to‐image(I2I) translation and Facial expression manipulation</p>
            <p align="left"; style = "font-size:1.0em"> DL/ML - Metric learning, Knowledge distillation, Transfer learning</p>
            <p align="left"; style = "font-size:1.0em"> Applications - Real‐time multi‐modal emotion recognition system, unmanned vending machine</p>
        </div>
    </div>
  </div>
</header>
